/* Scoreboard.css */
.wrapper {
    margin: 20px auto;
    max-width: 800px;
    text-align: center; /* Center align the content */
  }
  
  h2 {
    margin-bottom: 10px; /* Add some bottom margin to the title */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  caption {
    font-weight: bold;
  }
  
  th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 50%; /* Make each column take 50% width of the table */
  }
  